.color-primary-0 { color: #FFCA39 }	/* Main Primary color */
.color-primary-1 { color: #FFDF87 }
.color-primary-2 { color: #FFD45D }
.color-primary-3 { color: #ECB009 }
.color-primary-4 { color: #B48502 }

.color-secondary-1-0 { color: #6333AE }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #9D7AD5 }
.color-secondary-1-2 { color: #7B50BF }
.color-secondary-1-3 { color: #4B14A1 }
.color-secondary-1-4 { color: #380D7B }

.color-secondary-2-0 { color: #2B76A2 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #73ADCF }
.color-secondary-2-2 { color: #498DB6 }
.color-secondary-2-3 { color: #0E6496 }
.color-secondary-2-4 { color: #084B73 }

/* As RGBa codes */

.rgba-primary-0 { color: rgba(255,202, 57,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,223,135,1) }
.rgba-primary-2 { color: rgba(255,212, 93,1) }
.rgba-primary-3 { color: rgba(236,176,  9,1) }
.rgba-primary-4 { color: rgba(180,133,  2,1) }

.rgba-secondary-1-0 { color: rgba( 99, 51,174,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(157,122,213,1) }
.rgba-secondary-1-2 { color: rgba(123, 80,191,1) }
.rgba-secondary-1-3 { color: rgba( 75, 20,161,1) }
.rgba-secondary-1-4 { color: rgba( 56, 13,123,1) }

.rgba-secondary-2-0 { color: rgba( 43,118,162,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(115,173,207,1) }
.rgba-secondary-2-2 { color: rgba( 73,141,182,1) }
.rgba-secondary-2-3 { color: rgba( 14,100,150,1) }
.rgba-secondary-2-4 { color: rgba(  8, 75,115,1) }