@charset "UTF-8";

*{margin: 0;}

a{text-decoration: none; color: white;}

.header{
    height: 50px;
    background: #4E10AE;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 30px 1px;
    z-index: 1000;
}

/* Nombre de la pagina web */
.nameWebSite{
    margin-top: 5px;
    margin-left: 10px;
    float:left;
    width: 240px;
    background-image: url("../nameWebPageInverted.png");
    height: 40px;
    background-size: cover;
}

/* Configuración del contenedor de botones del header */
.headerButtonsContainer{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 10px;
    float: right;
    height: 30px;
}

.headerButtonsContainerResponsive{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    float: right;
    height: 30px;
    display: none;
    box-sizing: border-box;
}

@media screen and (max-width: 750px){
    .headerButtonsContainer{
        display: none;
    }

    .headerButtonsContainerResponsive{
        display: initial;
    }

    nav{
        background: rgba(0, 0, 0, 0);
        margin: 0;
        position: relative;
    }

    nav ul{
        position: absolute;
        list-style: none;
        display:block;
        padding: 0px;
        top: 50px;
        right: -800%;
    }

    .listButton{
        float: right;
        margin-top: 10px;
        margin-right: 20px;
        background: rgba(0, 0, 0, 0);
        transition: .5s;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    .listButton:hover{
        cursor: pointer;
    }

    .listButtonAnimation{
        transition: .5;
        background: #ECB009;
    }

    nav ul li{
        text-align: center;
        width: 200px;
        padding: 30px;
        margin: 0;

        background: #4E10AE;
    }

}


/* Configuración de los botones del header */
.headerButton{
    float: right;
    margin-right: 10px;
    font-size: .7em;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    transition: .5s;
    text-shadow: 1px 1px 5px black;
}

.headerButton a{text-decoration: none; color: white;}
.headerButton:hover{background: #ECB009; transition: 500ms}
.headerButton a:link, .headerButton a:visited{color: white;}